@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Momo+Signature&family=Playwrite+IN+Guides&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  background-color: rgb(38 38 38); 
  font-family: "Caveat", cursive;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 51.8%;
  width: 1px;             
  background-color: white;
  transform: translateX(-50%);
  z-index: -1;
}

.header {
    position: relative;
}

.title {
    font-size: 38px;
    color: #ffae48;
    position: absolute;
    padding-top: 60px;
    padding-left: 70px;
    letter-spacing: 15px;
}

.title span {
    display: inline-block;
    margin-top: 100px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 24px;
    padding: 20px;
    transform: translateX(-8%);
}

.parent div img {
    width: 100%;
    aspect-ratio: 3 / 2; 
    object-fit: cover;   
    display: block;
    border-radius: 5px;
  
}

/* Specific Grid Positions */
.div8 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.div9 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div10 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div11 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.div12 {
    grid-column-start: 4;
    grid-row-start: 1;
}

.div13 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.div14 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.div15 {
    grid-column-start: 5;
    grid-row-start: 4;
}
